<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog sobre python</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>Blog de informações sobre python</h1></div>
    </div>
    <div class="content">
        <div class="card">
            
            <div class="close-btn">
                <a href="/" class="close-link">&times;</a>
            </div>
            <h1> {{ post.title }}</h1>
            <h2> {{ post.subtitle }}</h2>
            <p> {{ post.body }}</p>
        </div>
    </div>
</div>

</body>
<footer>
    <p>Iago Teles | {{ currentYear }}</p>
</footer>
</html>